* {
    margin:0;
    padding:0;
    border:0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: Consolas;
    /*font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',sans-serif;*/
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.scrollable-nobar::-webkit-scrollbar {
    display: none;
}

table tr {
    vertical-align: middle;
}

table td:not([align]) {
    padding-left: 20px;
}

tbody {
    font-size: 12px;
}
th {
    text-align: center;
}

.sidebar-menu {
    transition: all 0.2s;
}

.bg-light .sidebar-menu {
    color: #ccc;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.bg-light header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.bg-black tbody, .bg-black thead, .bg-black a, .bg-black label, .bg-black h1, h3, h5, .bg-black .modal-body, .bg-black .modal-title {
    color: rgba(var(--bs-white-rgb),1);
}

.bg-black .table-hover > tbody > tr:hover > td,
.bg-black .table-hover > tbody > tr:hover > th {
    background-color: #201717;
    color: #fff;
}

.bg-black .sidebar-menu,
.bg-black nav,
.bg-black ul,
.bg-black .page-container,
.bg-black .page-link,
.bg-black .page-item.disabled .page-link,
.bg-black .modal-content,
.bg-black .card,
.bg-black .command-item
{
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}
.bg-black .modal-footer {
    border-top: 1px solid #414243;
}
.bg-black .modal-header {
    border-bottom: 1px solid #414243;
}

.right-data-pannel {
    position: fixed;
    right: 5%;
    top: 14%;
    width: 38%;
    height: 80%;
    overflow-y: auto;
    /*background-color: #f8f9fa;*/
    padding: 10px;
    border-radius: 5px;
    /*半透明*/
    opacity: 1;
    background: rgba(13, 110, 253, 0.7); /*#0d6efd;*/ /*rgba(250, 129, 90, 0.7);*/
    backdrop-filter: blur(20rpx);
}
.arrow-up {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--bs-blue) transparent;
}
.arrow-right {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--bs-blue) transparent transparent;
}
.arrow-down {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bs-blue) transparent transparent transparent;
}
.arrow-left {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bs-blue);
}

.navbar-nav li, .nav li, .nav .nav-link {
    min-height: 40px;
}
.nav span {
    white-space: nowrap;
}

/*隐藏滚动条并保留其滚功能 */
.hide-scroll-bar {
    overflow: -moz-scrollbars-none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* firefox  */
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}







.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor
}

.dropdown-toggle {
    outline: 0
}

.nav-flush .nav-link {
    border-radius: 0
}
