html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Consolas;
    /*font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',sans-serif;*/
}

.scrollable-nobar::-webkit-scrollbar {
    display: none;
}

tbody {
    font-size: 12px;
    color: #333;
}

.right-data-pannel {
    position: fixed;
    right: 5%;
    top: 10%;
    width: 40%;
    height: 80%;
    overflow-y: auto;
    /*background-color: #f8f9fa;*/
    padding: 10px;
    border-radius: 5px;
    /*°ëÍ¸Ã÷*/
    opacity: 1;
    background: rgba(250, 129, 90, 0.7);
    backdrop-filter: blur(20rpx);
}
.arrow-up {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--bs-blue) transparent;
}
.arrow-right {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--bs-blue) transparent transparent;
}
.arrow-down {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bs-blue) transparent transparent transparent;
}
.arrow-left {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bs-blue);
}
