* {
    margin:0;
    padding:0;
    border:0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Consolas;
    /*font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',sans-serif;*/
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.scrollable-nobar::-webkit-scrollbar {
    display: none;
}

tbody {
    font-size: 12px;
    color: #333;
}

.right-data-pannel {
    position: fixed;
    right: 5%;
    top: 10%;
    width: 40%;
    height: 80%;
    overflow-y: auto;
    /*background-color: #f8f9fa;*/
    padding: 10px;
    border-radius: 5px;
    /*半透明*/
    opacity: 1;
    background: rgba(13, 110, 253, 0.7); /*#0d6efd;*/ /*rgba(250, 129, 90, 0.7);*/
    backdrop-filter: blur(20rpx);
}
.arrow-up {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--bs-blue) transparent;
}
.arrow-right {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--bs-blue) transparent transparent;
}
.arrow-down {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bs-blue) transparent transparent transparent;
}
.arrow-left {
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bs-blue);
}

/*隐藏滚动条并保留其滚功能 */
.hide-scroll-bar {
    overflow: -moz-scrollbars-none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* firefox  */
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}







.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor
}

.dropdown-toggle {
    outline: 0
}

.nav-flush .nav-link {
    border-radius: 0
}
