@{
    ViewData["Title"] = "Core";
}
<div class="container">
    <div class="form-group">
        <label class="col-sm-2 col-form-label">Project Path</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="connectionString" value="F:\工作\T11\BlogDemo.API" required />
            <div class="invalid-feedback">
                Project path is required.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" formtarget="_blank" target-action="/Home/Index" id="generate_project">Generator Project</button>
</div>

@section Scripts{
    <script>
        $("#generate_project").click(async (e) => {
            var logined = await $.ajax({
                type: "post",
                url: "GeneratProject",
                data: {},
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
            });
        })
    </script>
}
