
@{
    ViewData["Title"] = "Prepare";
}
@*select
        top (@pageSize) *
    from
        (select
            ROW_NUMBER() over(order by record.RecordID DESC) as RowNumber,
            record.RecordID,
            record.SourceUserID,
            account.GameID,
            account.NickName,
            record.SourceGold,
            record.SourceBank,
            record.SourceEndGold,
            record.SourceEndBank,
            record.TargetUserID,
            record.TargetGold,
            record.TargetBank,
            record.TargetEndGold,
            record.TargetEndBank,
            record.SwapScore,
            record.Revenue,
            record.CollectDate,
            record.CollectNote,
            record.TradeStatus
        from SQTreasureDB.dbo.RecordInsure as record,SQAccountsDB.dbo.AccountsInfo as account
        where record.SourceUserID=account.UserID
        and record.TradeStatus>9) as temp

    where temp.RowNumber>(@pageIndex-1)* @@pageSize*@
    <form class="needs-validation" method="post" action="" novalidate>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Connectiong String</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="connectionString" value="server=45.113.200.25,2366;uid=WebAccounts;pwd=U54DOFTCyAARqfdU0TcT;" required />
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-form-label">SQL Statement</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="sql" cols="70" rows="20" required></textarea>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <button class="btn btn-primary" formtarget="_blank" target-action="/Home/Index" type="submit">Normal</button>
        <button class="btn btn-primary" formtarget="_blank" target-action="/Home/GameBackend" type="submit">GameBackend</button>
    </form>

    @section Scripts{
        <script>
            $('form button').click(function () {
                var target_url = $(this).attr('target-action');
                $('form').attr('action', target_url)
            })
        </script>
    }

