
@{
    ViewData["Title"] = "Prepare";    
}

<div class="container">
    <div class="card-title">Fill The Blank: </div>
    <div class="modal-content modal-body">
        <table class="table table-borderless">
            <tr>
                <td>Server Addr：</td>
                <td><input type="text" name="server" /></td>
            </tr>
            <tr>
                <td>Login Name：</td>
                <td><input type="text" name="uid" /></td>
            </tr>
            <tr>
                <td>Login Pwd：</td>
                <td><input type="text" name="pwd" /></td>
            </tr>
            <tr>
                <td>Database：</td>
                <td><input type="text" name="database" /></td>
            </tr>
            <tr>
                <td>SQL Statement：</td>
                <td><textarea name="database" cols="70" rows="20"></textarea></td>                
            </tr>
        </table>
    </div>
</div>

