@model Sylas.RemoteTasks.Database.CodeGenerator.CodeGeneratorInDto
<style>
h5 { color: orange; }
</style>
<h5>xxx</h5>
<textarea name="controllerTemplate" style="width: 1000px;height:200px;" readonly>

</textarea>