@{
    Layout = null;
    ViewData["Title"] = "Anything Flows";
}
<h3 class="text-center">Anything Flows</h3>
<div id="tableContainer"></div>
<script>
    $(function () {
        const idFieldName = "id";
        const apiUrl = "/Hosts/QueryAnythingFlows";
        const pageIndex = 1;
        const pageSize = 10;
        const tableId = 'dataTable';
        const tableParentSelector = "#tableContainer";
        // type: 'dataSource|dataSourceApi=/Database/ConnectionStrings?pageIndex=1&pageSize=1000|displayField=name'
        const ths = [
            { name: 'title', title: '标题', searchedByKeywords: true },
            { name: 'envVars', title: '环境变量', searchedByKeywords: true },
            { name: 'anythingIds', title: '任务' },
            { name: 'createTime', title: '创建时间', align: 'center' },
            { name: 'updateTime', title: '更新时间', align: 'center' },
            // 操作栏
            { name: '', title: '操作', width: '200', type: 'button', tmpl: `
                    <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-id="{{id}}" data-fetch-url="/Hosts/QueryAnythingFlows" data-method="POST" onclick="showUpdatePannel(this)">修改</button>
                    <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-content="&quot;{{id}}&quot;" data-execute-url="/Hosts/DeleteAnythingFlow" data-method="POST" onclick="showConfirmBox('确定删除? 此操作无法撤销!', () => execute(this))">删除</button>
                    <button type="button" class="btn btn-primary btn-sm execute-flow-btn" data-table-id="${tableId}" data-id="{{id}}" data-content="" data-method="POST">执行</button>
                    `
            }
        ]
        /**
         * HttpRequestProcessors
         */
        createTable({
            apiUrl: apiUrl,
            pageIndex: pageIndex,
            pageSize: pageSize,
            tableId: tableId,
            tableContainerSelector: tableParentSelector,
            ths: ths,
            idFieldName: idFieldName,
            onDataAllLoaded: onDataAllLoaded,
            wrapper: '',
            modalSettings: { url: '/Hosts/AddAnythingFlow', method: 'POST', updateUrl: '/Hosts/UpdateAnythingFlow', updateMethod: 'POST' },
            primaryKeyIsInt: true,
            addButtonSelector: '',
            dataViewBuilder: null,
            orderRules: [{ fieldName: 'createTime', isAsc: false }]
        })

        /**
         * 数据加载时, 可以对每一行加载的数据进行相关处理
         */
        function onDataAllLoaded(row) {
            document.querySelectorAll('.execute-flow-btn').forEach(btn => btn.onclick = () => showPannel(btn))
        }

        async function run(trigger) {
            const anythingItems = trigger.closest('.modal-content').querySelectorAll('.anything-item')
            if (anythingItems && anythingItems.length > 0) {
                for(let i = 0; i < anythingItems.length; i++) {
                    const taskLabel = anythingItems[i].querySelector('label');

                    const anythingId = taskLabel.getAttribute("data-id")
                    const commandName = taskLabel.textContent
                    const anythingResponse = await httpRequestPagedDataAsync(
                        "/Hosts/AnythingSettingAndInfo?id=" + anythingId, "POST", 1, 1,
                        null,
                        null,
                        null, // renderElementId
                        () => {} // finalAction
                    )
                    const anythingInfo = anythingResponse.data.anythingInfo;
                    
                    let cmdsUl = document.createElement('ul')
                    taskLabel.parentElement.appendChild(cmdsUl)
                    for (let i = 0; i < anythingInfo.commands.length; i++) {
                        const cmd = anythingInfo.commands[i]
                        const requestBody = JSON.stringify({ commandId: cmd.id })

                        let li = document.createElement('li')
                        li.innerHTML = `<span>${cmd.name}</span>`
                        cmdsUl.appendChild(li)
                        await sendSseRequest('/Hosts/ExecuteCommand', requestBody, commandName, taskLabel, li)
                    }
                }
            }
        }
        async function showPannel(trigger) {
            // 先检查是否有旧的Modal, 有则移除
            const oldModal = document.querySelector('#business-modal')
            if (oldModal) {
                document.querySelector('#business-modal').remove()
            }

            const recordId = trigger.getAttribute('data-id')
            const div = document.createElement('div')
            div.classList.add("modal")
            div.classList.add("fade")
            div.id = "business-modal"
            div.tabIndex = -1
            // div.ariaHidden = true
            div.setAttribute('aria-labelledby', 'business-modal-title')

            let recordIndex = tables['dataTable'].renderedData.findIndex(x => x[idFieldName] == recordId);
            let record = tables['dataTable'].renderedData[recordIndex];
            const anythingIds = record["anythingIds"];
            const anythingIdArr = anythingIds.split(',').map(x => Number(x));
            // 通过anythingIds展示所有anythings(先展示最简单的名称或标题即可), 然后依次执行anythings
            const anythingsResult = await httpRequestPagedDataAsync(
                "/Hosts/AnythingSettings", "POST", 1, 999,
                // anythingIds直接传每个id会被解析为字符串, 这里转换为整数数组就会被后端解析为整数
                { filterItems: [{fieldName: 'id', compareType: 'in', value: anythingIdArr}], keywords: { fields:[], value:'' } },
                [{ fieldName: 'createTime', isAsc: false }],
                null, // renderElementId
                () => {} // finalAction
            )
            const anythings = anythingsResult.data.data;
            let anythingList = '';
            // 按顺序展示所有要执行的所有anything列表(支持重复的)
            // 不要遍历anythings, 应该遍历anythingIdArr, 因为执行的anything可能会在不同的位置重复多次执行, 比如两个anything1,2,2,1这样的顺序执行
            for(let i = 0; i < anythingIdArr.length; i++) {
                const anythingId = anythingIdArr[i]
                const anythingIndex = anythings.findIndex(x => x.id == anythingId)
                anythingList += `<div class="mt-3 anything-item">
                <label for="tables" class="form-label" data-id="${anythings[anythingIndex].id}">${anythings[anythingIndex].title}</label>
            </div>`
            }

            div.innerHTML = `<div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title">Anythings Flow</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ${anythingList}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary btn-sm run-btn" data-id="${recordId}">开始运行</button>
          </div>
        </div>
      </div>`
            document.body.append(div)
            const runBtn = document.querySelector('.run-btn')
            runBtn.onclick = () => {
                run(runBtn)
            }
            const m = new bootstrap.Modal(div, {
                backdrop: 'static',
                keyboard: false
            })
            m.show()
        }
    });
</script>
