@using Sylas.RemoteTasks.App.RemoteHostModule.Anything
@model List<AnythingInfo>;
@{
    ViewData["Title"] = "Anything ...";
}

<div id="anythingContainer"></div>

@section Scripts
{
    <script src="/js/anything.js"></script>
}
