@{
    // REMARK: 此页面以卡片的形式展示了了"AnythingInfo"列表, Anything是什么东西呢, 它是一个抽象的设计, 我希望它可以表示任何东西, 它包含了一组命令, 它的意义是根据这些命令来决定的, 展开Anything卡片, 可以显示并执行一个或者多个命令, 然后还有一个环境变量编辑面板, 默认以一个"+"按钮的形式显示在页面右上角, 当前展开的是哪个Anything卡片, 那么环境变量编辑面板就展示并且可以修改当前Anything的环境变量, 此环境变量可以应用到该Anything下的所有命令
    Layout = null;
    ViewData["Title"] = "Anything ...";
}

<div id="anythingContainer"></div>

<script src="/js/template-editor.js"></script>
<script src="/js/anything.js" type="module"></script>
