@{
    ViewData["Title"] = "Remote Hosts Manager ...";
}
<div class="my-4">
    <div class="row">
        <h3 class="my-3 text-center dropdown-toggle" id="dropdownHostCommandInfos{IP_NUMBER}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {IP} {REMOTEHOSTINFOS_COUNT}
        </h3>
        <div class="dropdown-menu" aria-labelledby="dropdownHostCommandInfos{IP_NUMBER}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="searchDropdown{IP_NUMBER}" value="" placeholder="Search..." aria-label="Search" onkeyup="onHostInfosSearched(this)" />
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-value="{REMOTEHOSTCMD_NAME}" href="#" onclick="executeCommand('{IP}', '{REMOTEHOST_NAME}', '{REMOTEHOSTCMD_NAME}', '{REMOTEHOSTCMD_COMMAND_TXT}')">{REMOTEHOSTCMD_NAME}</a>
        </div>
        @* 服务器标题 end *@

        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header" id="heading-{HOSTINFO_NAME}">
                        <h5 class="card-title mb-0">
                            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{HOSTINFO_NAME}" aria-expanded="false" aria-controls="collapse{HOSTINFO_NAME}">
                                {INFO_NAME}
                            </button>
                        </h5>
                    </div>
                    <div id="collapse{HOSTINFO_NAME}" class="collapse" aria-labelledby="heading-{HOSTINFO_NAME}" data-bs-parent="#accordion">
                        <div class="card-body">
                            <p class="card-text">
                                <span style="display: inline-block; width: 100px;">
                                    {LABEL_ITEM1}
                                </span>
                                <span>:</span>
                                <span style="margin-bottom: 10px; color:darkgray;">
                                    {LABEL_ITEM2}
                                </span>
                                <br>
                            </p>
                            <p class="card-text">
                                <button class="btn default" onclick="executeCommand('{IP}', '{INFO_NAME}', '{INFOCMD_NAME}', '{INFOCMD_COMMANDTXT}')">{INFO_CMDNAME} - {INFOCMD_COMMANDTXT}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function executeCommand(hostIp, hostInfoName, commandName, command) {
            fetch('/Hosts/Execute', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ hostIp, hostInfoName, commandName, command })
            })
                .then(response => {
                    if (response.ok) {
                        var rspJson = response.json();
                        return rspJson;
                    } else {
                        console.error("Failed to execute command: " + response.json());
                    }
                })
                .then(rspJson => {
                    showMsgBox(rspJson.msg)
                })
                .catch(error => {
                    showErrorBox(error);
                });
        }

        function onHostInfosSearched(searchDropdown) {
            // Get reference to dropdown items
            var dropdownItems = searchDropdown.parentNode.parentNode.querySelectorAll(".dropdown-item");

            var value = searchDropdown.value.toLowerCase();
            dropdownItems.forEach(function (item) {
                if (item.textContent.toLowerCase().indexOf(value) > -1) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        }
    </script>
}
