<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sylas.RemoteTasks.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Sylas.RemoteTasks.App.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // 是否需要登录
        const accessToken = getAccessToken();
        const path = location.pathname;
        if (!accessToken) {
            location.href = `/Home/Login?redirect_path=${path}`;
        }
    </script>
</head>
<body>
    <svg xmlns="https://www.w3.org/2000/svg" style="display: none;">
      <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
      </symbol>
      <symbol id="home" viewBox="0 0 16 16">
        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
      </symbol>
      <symbol id="speedometer2" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
        <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
      </symbol>
      <symbol id="table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
      </symbol>
      <symbol id="people-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </symbol>
      <symbol id="grid" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
      </symbol>
      <symbol id="collection" viewBox="0 0 16 16">
        <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
      </symbol>
      <symbol id="calendar3" viewBox="0 0 16 16">
        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </symbol>
      <symbol id="chat-quote-fill" viewBox="0 0 16 16">
        <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"/>
      </symbol>
      <symbol id="cpu-fill" viewBox="0 0 16 16">
        <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
        <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
      </symbol>
      <symbol id="gear-fill" viewBox="0 0 16 16">
        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
      </symbol>
      <symbol id="speedometer" viewBox="0 0 16 16">
        <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
        <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
      </symbol>
      <symbol id="toggles2" viewBox="0 0 16 16">
        <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"/>
        <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"/>
        <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
      </symbol>
      <symbol id="tools" viewBox="0 0 16 16">
        <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </symbol>
      <symbol id="geo-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
      </symbol>
      <symbol id="chevron-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
      </symbol>
    </svg>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm"><!--border-bottom box-shadow-->
            <div class="container-fluid">
                <a class="btn btn-sm" role="button" onclick="toggleCollapseSidebar(this)"><svg class="bi me-2 text-primary" width="16" height="16"><use xlink:href="#chevron-bar-left" /></svg></a>
                <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">Sylas.RemoteTasks.App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Index</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Prepare">CodeGen0(项目管理 未完成)</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CodeGen">CodeGen1(简单api)</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CodeGen2">CodeGen2(通用 New)</a></li>
                            </ul>
                        </li>

                        
                        <!--Study-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Study" asp-action="Index">Study</a>
                        </li>

                        <!--Hosts-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hosts</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Hosts/Index">Index</a></li>
                                <li><a class="dropdown-item" href="/Hosts/AnythingInfos">Anything</a></li>
                                <li><a class="dropdown-item" href="/Hosts/ServerAndAppStatus">Server And App Status</a></li>
                            </ul>
                        </li>
                        
                        <!--Database ConnectionStrings-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Database" asp-action="Index">Database</a>
                        </li>

                        <!--OAuth Test-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">OAuth</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/OAuth/Index">微信钉钉第三方登录</a></li>
                                <li><a class="dropdown-item" href="/OAuth/Password">密码模式登录</a></li>
                            </ul>
                        </li>
                        
                        <!--Projects Manager-->
                        <li class="nav-item">
                            <a class="nav-link" href="/Project/Index">Projects</a>
                        </li>
                        
                        <!--Snippets Manager-->
                        <li class="nav-item">
                            <a class="nav-link" href="/Snippet/Index">Snippets</a>
                        </li>
                        
                        <!--Sync Manager-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Data Transfer</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Sync/Index">Transfer From Http</a></li>
                                <li><a class="dropdown-item" href="/Sync/SyncDbs">Transfer From Dbs</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>mdo</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser">
                        <li>
                            <div class="dropdown-item custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="themeSwitch" onchange="switchTheme(this)">
                                <label class="custom-control-label" for="themeSwitch">暗黑模式</label>
                            </div>
                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="javascript:void(0);" onclick="signOut()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--d-flex flex-row会让子元素x轴排列, **子元素高度会最大化撑满容器(菜单和)**-->
    <div class="d-flex flex-row" style="height:calc(100vh - 56px);max-height:100vh;scrollbar-width:none;">
        <div class="sidebar-menu p-3 hide-scroll-bar" style="width: 290px; overflow:auto;">
            @* <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                <span class="fs-4">Sidebar</span>
            </a> *@
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" name="menuName" placeholder="关键字...">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm text-light" style="background-color:#222d32;" type="button" id="searchBtn">搜索</button>
                </span>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link" aria-current="page" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                        <span>Home</span>
                    </a>
                    <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/Home/Index" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>Index</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Prepare" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>CodeGen0(项目管理)</span>
                                </a>
                            </li>
                            <li>
                                @* <a href="javascript:void(0);" view-url="/Home/CodeGen2" onclick="fetchView(this)" class="nav-link" style="margin-left:15px;">
                                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                                      CodeGen2(通用 New)
                                  </a> *@
                                <a href="/Home/CodeGen2" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>CodeGen2(通用 New)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Study/Index" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table" /></svg>
                        <span>Study</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#hosts-collapse" aria-expanded="false">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>Hosts</span>
                    </a>
                    <div class="collapse" id="hosts-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/Hosts/Index" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>Index</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Hosts/AnythingInfos" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>AnythingInfos</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Hosts/ServerAndAppStatus" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>ServerAndAppStatus</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/Database/Index" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>Database</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>OAuth</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/Index" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>Projects</span>
                    </a>
                </li>
                <li>
                    @* <a href="javascript:void(0);" onclick="fetchView(this)" view-url="/Snippet/Index" class="nav-link">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                      Snippets
                    </a> *@
                    <a href="/Snippet/Index" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>Snippets</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#sync-collapse" aria-expanded="false">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                        <span>Data Transfer</span>
                    </a>
                    <div class="collapse" id="sync-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/Sync/Index" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>Transfer From Http</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Sync/SyncDbs" class="nav-link" style="margin-left:15px;">
                                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                                    <span>Transfer From Dbs</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                        <span>Customers</span>
                    </a>
                </li>
            </ul>
        </div>
        <main role="main" class="p-3 container-fluid view-container overflow-auto">
            <div style="min-height:100%;border-radius:5px" class="p-3 page-container">
                @RenderBody()
            </div>
        </main>
    </div>

    @* <footer class="footer text-muted bg-dark text-white">
        <div class="container">
            &copy; 2022 - Sylas.RemoteTasks.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <!--消息提示框 msgBox-->
    <div class="modal fade" tabindex="-1" id="msgBox">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    @* <h5 class="modal-title"></h5> *@
                    <p class="modal-title"></p>
                    @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--消息提示框 confirmBox-->
    <div class="modal fade" tabindex="-1" id="confirmBox">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="border:none;">
                    @* <h5 class="modal-title"></h5> *@
                    <p class="modal-title"></p>
                    @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>*@
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer" style="border:none;">
                    <button type="button" class="btn btn-" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--spinner class去掉了fade, 因为网络请求有时候只有3ms|4ms, 动画时间不止这么长时间, 也就是说此时执行关闭modal的时候modal仍然处于动画状态下还没有完全显示出来, 这样modal是不会关闭的-->
    <div class="modal" id="globalSpinner">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
            <div class="modal-content" style="background-color:transparent; border:none;">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const msgBox = new bootstrap.Modal('#msgBox', {
            backdrop: 'static',
            keyboard: false
        });
        const confirmBox = new bootstrap.Modal('#confirmBox', {
            backdrop: 'static',
            keyboard: false
        });
        const spinner = new bootstrap.Modal('#globalSpinner', {
            backdrop: 'static',
            keyboard: false
        });

        function showBox(msg, onClose, title = '提示', titleClass = '', confirmBtnContent = '确定', confirmBtnClass = 'btn-success') {
            $('#msgBox .modal-title').text(title);
            if (titleClass) {
                $('#msgBox .modal-title').parent().addClass(titleClass);
            }
            $('#msgBox .modal-body').text(msg);
            $('#msgBox .modal-footer').html(`<button type="button" class="btn ${confirmBtnClass}" data-bs-dismiss="modal" onclick="">${confirmBtnContent}</button>`);
            if (onClose && typeof onClose === 'function') {
                let confirmBtn = document.querySelector('#msgBox button[data-bs-dismiss="modal"]');
                function onCloseFunc() {
                    onClose();
                    confirmBtn.removeEventListener('click', onCloseFunc);
                }
                confirmBtn.addEventListener('click', onCloseFunc, false)
            }
            msgBox.show();
        }
        function showMsgBox(msg, onClose) {
            showBox(msg, onClose, '提示', 'bg-success');
        }

        function showWarningBox(msg, onClose) {
            showBox(msg, onClose, '请注意', 'bg-warning', '确定', 'btn-warning');
        }

        function showErrorBox(errMsg, onClose) {
            showBox(errMsg, onClose, '错误', 'bg-danger text-white', '关闭', 'btn-danger');
        }

        function showConfirmBox(confirmMsg, callback) {
            if (!callback) {
                window.callback = () => { };
            }
            $('#confirmBox .modal-title').text('确认');
            $('#confirmBox .modal-body').text(confirmMsg);
            $('#confirmBox .modal-footer').html(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button><button type="button" class="btn btn-danger" id="confirm" data-bs-dismiss="modal">确定</button>`);
            $('#confirmBox button[id="confirm"]').click(callback);

            confirmBox.show();
        }

        function showSpinner(target) {
            if (target) {
                if (target instanceof NodeList) {
                    target.forEach(item => addTargetSpinner(item))
                } else {
                    addTargetSpinner(target);
                }
            } else {
                spinner.show();
            }
        }

        function closeSpinner(target) {
            if (target) {
                if (target instanceof NodeList) {
                    target.forEach(item => removeTargetSpinner(item))
                } else {
                    removeTargetSpinner(target);
                }
            } else {
                spinner.hide();
            }
        }

        function addTargetSpinner(ele) {
            let originHtml = ele.innerHTML;
            if (ele.tagName === 'BUTTON') {
                ele.setAttribute('disabled', true)
            }
            // aria-hidden="true"
            ele.innerHTML = `<span class="spinner-border spinner-border-sm" role="status"></span> ${originHtml}`;
        }
        function removeTargetSpinner(ele) {
            if (ele.tagName === 'BUTTON') {
                ele.removeAttribute('disabled');
            }
            // aria-hidden="true"
            ele.innerHTML = ele.innerHTML.replace('<span class="spinner-border spinner-border-sm" role="status"></span> ', '');
        }

        function addOverlay(targetId) {
            // 创建覆盖层的 div 元素
            var overlay = document.createElement('div');
            overlay.classList.add('overlay');
            overlay.innerHTML = `
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            `;

            // 获取要覆盖的目标元素
            var target = typeof(targetId) === 'string' ? document.querySelector(`#${targetId}`) : targetId;

            // 获取目标元素的位置和尺寸信息
            const nodeList = target instanceof NodeList ? target : [ target ]
            const overlays = [];
            nodeList.forEach(node => {
                var rect = node.getBoundingClientRect();

                // 设置覆盖层基本样式
                overlay.style.position = 'absolute';
                overlay.style.backgroundColor = 'rgba(200,200,200,0.2)';
                overlay.style.zIndex = '999';
                // 设置覆盖层的位置和尺寸
                overlay.style.top = rect.top + 'px';
                overlay.style.left = rect.left + 'px';
                overlay.style.width = rect.width + 'px';
                overlay.style.height = rect.height + 'px';
                // 设置覆盖层水平垂直居中
                overlay.style.display = 'flex';
                overlay.style.justifyContent = 'center';
                overlay.style.alignItems = 'center';

                // 将覆盖层插入到目标元素的父节点中
                node.parentNode.insertBefore(overlay, node);
                overlays.push(overlay);
            })
            return overlays;
        }

        function removeOverlay(overlay) {
            if (overlay instanceof Array) {
                overlay.forEach(x => x.remove());
            } else {
                overlay.remove();
            }
        }

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
          new bootstrap.Tooltip(tooltipTriggerEl)
        })

        async function fetchView(target) {
            const viewUrl = target.getAttribute('view-url')
            const result = await fetch(viewUrl)
            const html = await result.text()
            const mainCon = document.querySelector('.view-container')
            mainCon.innerHTML = html
        }

        
        
        window.onload = function() {
            document.querySelectorAll('.sidebar-menu a').forEach(a => {
                if (a.getAttribute('data-bs-toggle') === 'collapse') {
                    a.classList.remove('active')
                    // a.classList.add('text-white')
                    // a.onclick = e => e.target.classList.toggle('text-white')
                }
                else if (a.getAttribute('href').length > 1) {
                    // 菜单点击事件 - 跳转
                    a.onclick = e => {
                        e.preventDefault();
                        e.stopPropagation();
                        const linkEle = e.target.tagName === 'SPAN' ? e.target.closest('a') : e.target
                        const url = linkEle.getAttribute('href')
                        location.href = url;
                    }
                }
            })

            let viewPath = location.pathname.replace('#', '')
            if (!viewPath) {
                viewPath = "/Sync/SyncDbs"
            }
            const viewLink = document.querySelector(`.sidebar-menu a[href="${viewPath}"]`)
            if (viewLink) {
                viewLink.classList.add('active')
                const collapseEle = viewLink.closest('.collapse')
                if (collapseEle) {
                    collapseEle.previousElementSibling.click()
                    // collapseEle.previousElementSibling.classList.add('active')
                }
            }

            // 当前主题是否是暗黑模式
            let theme = localStorage.getItem('site-theme')
            if (!theme) {
                theme = 'bg-black'
                localStorage.setItem('site-theme', theme);
            }
            if (theme === 'bg-black') {
                document.body.classList.remove('bg-light')
            } else {
                document.body.classList.remove('bg-black')
            }
            document.body.classList.add(theme)
            if (document.querySelector('body').classList.contains('bg-black')) {
                document.querySelector('#themeSwitch').setAttribute('checked', 'checked')
            }
        }

        function recoverMenuItems() {
            // 当前页面对应的菜单保持高亮
            document.querySelectorAll('.sidebar-menu li a').forEach(a => {
                if (location.href.indexOf(a.getAttribute('href')) === -1) {
                    // a.classList.add('text-white')
                }
            })

            // 打开的collapse对应的a标签 点击事件触发, 即收起菜单
            const openedMenu = document.querySelector('.sidebar-menu a[aria-expanded="true"]')
            if (openedMenu && openedMenu.nextElementSibling.innerHTML.indexOf(location.pathname) === -1) {
                openedMenu.click()
            }
        }
        document.querySelector('#searchBtn').addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var keyword = $("#searchBtn").parent().prev().val();
            // 恢复菜单后(恢复菜单字体的颜色, 隐藏所有菜单), 如果没有搜索内容就停止搜索
            recoverMenuItems();
            if (keyword === '' || !keyword === true) {
                return;
            }
            
            document.querySelectorAll(".sidebar-menu li a").forEach(x => {
               if (x.textContent.indexOf(keyword) > -1) {
                   const collapseEle = x.closest('.collapse')
                   if (collapseEle && collapseEle.innerHTML.indexOf(location.pathname) === -1) {
                       collapseEle.previousElementSibling.click()
                   }
                   
                   // x.classList.remove('text-white');
                   x.classList.add('text-warning');
               }
            })
        })

        function toggleCollapseSidebar(btn) {
            const sidebar = document.querySelector('.sidebar-menu')
            if (sidebar.clientWidth > 70) {
                sidebar.style.width = '70px'
                document.querySelector('#searchBtn').style.display = 'none'
                document.querySelectorAll('.sidebar-menu span').forEach(x => x.style.display = 'none')
                document.querySelectorAll('.sidebar-menu .collapse ul').forEach(x => x.style.display = 'none')
            } else {
                sidebar.style.width = '290px'
                document.querySelector('#searchBtn').style.display = 'inline-block'
                document.querySelectorAll('.sidebar-menu span').forEach(x => x.style.display = 'inline')
                document.querySelectorAll('.sidebar-menu .collapse ul').forEach(x => x.style.display = 'block')
            }
        }
        function switchTheme(switchEle) {
            const checked = switchEle.getAttribute('checked')
            if (checked === 'checked') {
                localStorage.setItem('site-theme', 'bg-light')
                document.querySelector('body').classList.remove('bg-black')
                document.querySelector('body').classList.add('bg-light')
            } else {
                localStorage.setItem('site-theme', 'bg-black')
                document.querySelector('body').classList.remove('bg-light')
                document.querySelector('body').classList.add('bg-black')
            }
        }
        function signOut() {
            clearAccessToken();
            location.reload();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
