@{
    Layout = null;
    ViewData["Title"] = "Study";
}
<style>
    .focus {
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    }
</style>
<div ondblclick="prependErrors()">
    <h1>Study</h1>
    <div id="questions"></div>
</div>
@* @section Scripts{ *@
    <script>
        function showRemark(input) {
            const remark = input.parentElement.querySelector('.remark');
            remark.style.display = 'inline-block';
            // remark.style.display = window.outerWidth > 800 ? 'inline-block' : 'block';
            // remark.style.textAlign = window.outerWidth > 800 ? 'left' : 'right';
        }

        const apiUrl = "/Study/GetQuestions";
        const tableId = 'datatable';
        const tableParentSelector = "#questions";
        const ths = [
            { name: 'title', title: '标题', searchedByKeywords: true },
            { name: 'imageUrl', title: '插图', type: 'image' },
            { name: 'answer', title: '答案', searchedByKeywords: true },
            { name: 'remark', title: '备注', searchedByKeywords: true },
            { name: 'errorCount', title: '错误次数', notShowInForm: true },
            { name: 'correctCount', title: '正确次数', notShowInForm: true },

            { name: 'createTime', title: '创建时间' },
            { name: 'updateTime', title: '更新时间' },

            { name: 'typeId', title: '题目类型', type: 'dataSource|dataSourceApi=/Study/GetQuestionTypes?pageIndex=1&pageSize=1000|displayField=name' },

            // 操作栏
            { name: '', title: '操作', type: 'button', tmpl: `
                        <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-id="{{id}}" data-fetch-url="${apiUrl}" data-method="POST" onclick="showUpdatePannel(this)">修改</button>
                        <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-content="&quot;{{id}}&quot;" data-execute-url="/Study/DeleteQuestion" data-method="POST" onclick="showConfirmBox('确定删除? 此操作无法撤销!', () => execute(this))">删除</button>`
            }
        ]
        const idFieldName = "id";

        function buildDataView(data) {
            let container = document.createElement('div');
            data.forEach((q, index) => {
                let imageHtml = '';
                if (q.imageUrl) {
                    imageHtml += '<div style="display:flex;align-items:flex-end;flex-wrap:wrap;">';
                    q.imageUrl.split(';').forEach(url => {
                        imageHtml += `<img src="${url}" style="width: 100px;height: 100px;" />`;
                    });
                    imageHtml += '</div>';
                }
                container.innerHTML += (`<div class="question" style="padding: 5px;border-radius:5px;">${imageHtml}<label style="width:32%;max-width:300px;" for="answer${index}">${q.title}</label>
                <input style="width:120px;" class="answer-input" data-id="${q.id}" id="answer${index}" value="" onchange="checkAnswer(this)" ondblclick="showRemark(this)" onfocus="this.parentElement.classList.add('focus')" onblur="this.parentElement.classList.remove('focus')" />
                <input hidden value="${q.answer}" />
                <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-id="${q.id}" data-fetch-url="${apiUrl}" data-method="POST" onclick="showUpdatePannel(this)">修改</button>
                <button type="button" class="btn btn-primary btn-sm" data-table-id="${tableId}" data-content="&quot;${q.id}&quot;" data-execute-url="/Study/DeleteQuestion" data-method="POST" onclick="showConfirmBox('确定删除? 此操作无法撤销!', () => execute(this))">删除</button>
                <span class="is-answer-correct">&nbsp;&nbsp;</span>
                <span class="remark text-primary" style="display:none;">&nbsp;&nbsp;${q.remark ? q.remark : q.answer}</span>
                </div>`);
            });
            return container;
        }

        /**
            * 初始化数据表格
            */
        createTable(
            apiUrl,                     // 接口地址
            1,                          // pageIndex
            100,                        // pageSize
            tableId,                    // 给数据表一个标识符, 方便一个页面操作多个数据表
            tableParentSelector,        // 数据表父元素
            ths,                        // 数据表列配置
            idFieldName,                // 数据的Id字段名
            null,                       // 数据过滤条件集合 FilterItems
            null,                       // 初始化数据(有的话就渲染此数据, 不会请求接口)
            onDataLoaded,               // 订阅数据渲染完成事件
            '',                         // 对数据表添加父元素, 使用{{tableHtml}}变量代表整个数据表html
            { url: 'Study/AddQuestion', method: 'POST', updateUrl: '/Study/UpdateQuestion', updateMethod: 'POST' },   // 添加修改数据表单弹窗; url为添加数据的url(修改的url放到修改按钮上); method也是请求添加数据接口的请求方法
            true,
            'h1',
            buildDataView,
            [{ fieldName: 'errorCount', isAsc: false }, {orderField: 'correctCount', isAsc: true}]
        )

        /**
            * 回调函数
            */
        function onDataLoaded(row) {
            return;   
        }

        async function checkAnswer(input) {
            const nextQuestionDiv = input.parentElement.nextSibling;
            // input已经是最后一个问题, 那么nextQuestionDiv不存在
            if (nextQuestionDiv) {
                nextQuestionDiv.querySelector('input').focus();
            }
            const exeParams = {
                'dataTableId': tableId,
                'dataContent': `{"id": "${input.getAttribute('data-id')}", "answer": "${input.value}"}`,
                'dataExecuteUrl': '/Study/AnswerQuestion',
                'dataMethod': 'POST'
            };
            await execute(exeParams, answerChecked, false);

            function answerChecked(response) {
                const isAnswerCorrectMarkSpan = input.parentElement.querySelector('.is-answer-correct');
                if (response && response.data) {
                    isAnswerCorrectMarkSpan.textContent = '√';
                    isAnswerCorrectMarkSpan.style = 'color:green;margin-left:5px;display:inline-block;';
                    isAnswerCorrectMarkSpan.classList.remove('uncorrect');
                    isAnswerCorrectMarkSpan.classList.add('correct');
                } else {
                    isAnswerCorrectMarkSpan.textContent = 'x';
                    isAnswerCorrectMarkSpan.style = 'color:brown;margin-left:5px;display:inline-block;';
                    isAnswerCorrectMarkSpan.classList.remove('correct');
                    isAnswerCorrectMarkSpan.classList.add('uncorrect');
                    showRemark(input);
                }
            }
        }

        let lastPrepended = null;
        function prependErrors() {
            document.querySelectorAll('.uncorrect').forEach(x => {
                // const firstQuestion = lastPrepended ? lastPrepended : document.querySelector('.question');
                // const questionEle = x.closest('.question');
                // if (firstQuestion.querySelector('.is-answer-correct').classList.contains('correct')) {
                //     firstQuestion.insertAdjacentElement('beforebegin', questionEle)
                // } else {
                //     firstQuestion.insertAdjacentElement('afterend', questionEle);
                // }
                const questionEle = x.closest('.question');
                if (!lastPrepended) {
                    const firstQuestion = document.querySelector('.question');
                    if (firstQuestion !== questionEle) {
                        firstQuestion.insertAdjacentElement('beforebegin', questionEle);
                    }
                } else {
                    lastPrepended.insertAdjacentElement('afterend', questionEle);
                }
                lastPrepended = questionEle;
            });
            lastPrepended = null;
        }
    </script>
@* } *@